<div class="child" id="child-4">
<div class="row">
<div class="col">
<div class="text-center align-middle top-margin">
<h1 class="display-1">Child 4</h1>
 <h4>Count: <%= @val %></h4>
<button phx-click="inc" class="btn btn-primary">+</button>
<button phx-click="dec" class="btn btn-danger">-</button>
</div>
</div>
</div>
</div>